*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --celeste-background-color: #3161E0;
    --nero-bottoni:#23272A;
    --grigio-box:#F6F6F6;
    --viola-bottoni:#8EA1E1;
}

h2{
    font-size: xx-large;
    font-family: system-ui;
    padding-bottom: 1rem;
}

footer{
    color: white;
}



nav{
    background-color: var(--celeste-background-color);
    width: 920px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    
}
.container-nav{
    background-color: var(--celeste-background-color);
    padding: 1rem 0 .5rem;
}
.link-container{
    flex-grow: 1;
    text-align: center;
    height: 100%; 
}


 nav :nth-child(3){
    text-align: end;
 }


.logo-img{
    width: 5rem;
}

.container{
    padding: 8rem 0;
}

.container-spaziatureuniche{
    padding: 5rem 0 7rem 0rem;
    
}

.jumbo-img{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    
}

.text-link{
    height: 100%;
    
    color: white;
    text-decoration: none;
    padding:1rem 1rem;
    font-size: 0.8rem;
}

.box-piccolo h1{
    padding-bottom: 3rem;
}

.spaziatura-titolo-paragrafo{
    padding-bottom: 1.5rem;
    
    display: block;
}

/* BOTTONI */
.btn{
    border-radius: 25px;
    border: 0;
    padding: .6rem .6rem;
    
}

.btn-small{
    padding: .3rem .5rem;
    font-size: .6rem;
}

.btn-black{
    background-color: var(--nero-bottoni);
    color: white;
}

.btn-violet{
    color: white;
    background-color: var(--viola-bottoni);
}

.btn-centre{
    display:block;
    margin:0 auto;
    margin-top: 1rem;
}
.style-title-lastbox{
    font-family: system-ui;
    font-weight: bold;
    display: block;
}

.img-stars{
    width: 35%;
    margin-bottom: -1rem;
}



.box-piccolo{
    padding: 1rem 0;
    width: 800px;
    margin:auto;
    background-color: transparent;
    color: white;
    text-align: center;
    
}

.box{
    display: flex;
    width: 920px;
    margin: auto;
    align-items: center;
    
}
.reverse{
    flex-direction: row-reverse;
}

.grow-1{
    flex-grow: 1;
    background-color:transparent
}
.grow-2{
    flex-grow: 2;
    background-color: transparent
}

.block-centre{
    text-align: center;
    display: block;

}


.box-grande{
    width: 920px;
    margin: auto;
    background-color: transparent;
    
}

.box-4elementi{
    display: flex;
    
    background-color:transparent;
    
}

.box-4elementi >*{  
    flex-grow: 1;
}
.container-footer{
    border-top: 2px solid white;
    padding-top: 1rem;
}

.box-footer{
    display: flex;
    width: 920px;
    margin: auto;
    height: 80px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}

.box-footer >*{
    background-color: palevioletred;
    padding: .5rem;

}

footer .container.black{
    padding-top: 3rem;
}



.txt-left{
    text-align: left;
}
.icons>*{
    padding-right: 1rem;
    padding-top: 1rem;
}

.img-ita{
    display: inline;
    width: .7rem;
    padding-top:1rem
}

.text-link-footer{
    color: white;
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
    padding-bottom: .5rem;
    
    
}
.txt-viola{
    color: var(--viola-bottoni);  
}

.box-social{
    align-self: stretch;
}

.box-social>*{
    padding: 1rem 0;
}
















/* ------------------------------------ */
/* colori-box */
.blu{
    background-color: blue;
}

.bianco{
    background-color: white;
}

.grigio{
    background-color:var(--grigio-box);
}


.black{
    background-color: var(--nero-bottoni);
}

/* ------------------------------------ */